/*
body {
  margin: 20px;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
} */

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav-left {
  float: left;
}

.topnav-right {
  float:right;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 16px;
}

.topnav a:hover {
  background-color: #ddf;
  color: black;
}
/*
.image-container {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.input-container {
  width: 60%;
  border: 1px solid green;
  padding: 10px;
  margin: 10px
}
 */

/* .container {
  display: grid;
  background-color: #e0f6ff;
  border: 5px dashed #1e96ff;
  grid-gap: 5px;
  grid-template-areas:
    "header header header header header header"
    "sidebar main main main"
    "sidebar photo photo button"
    "footer footer footer footer footer footer";
}

.header {
  grid-area: item1;
}

.sidebar {
  grid-area: itemsidebar;
}

.main {
  grid-area: itemmain;
}

.footer {
  grid-area: item5;
}

.photo {
  grid-area: item6;
}

#buy-button {
  grid-area: button;
  color: white;
  background-color: #708090;
  border-radius: 10px;
  font-weight: bold;
  padding: 20px;
  margin: 1px;
}

.item-7 {
  grid-area: item7;
} */
