/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  background: #e0f6ff;
  padding: 5px;
  justify-content: space-between;
} */

.grid-item {
  background-color: #1e96ff;
  padding: 15px;
}

.grid-itemL {
  text-align: left;
}

.grid-itemR {
  text-align: right;
}

.grid-itemC {
  text-align: center;
}
