form {
  justify-content: center;
}

input[type="search"] {
  margin-left: 20px;
  margin-right: 20px;
  width: 80%;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
}

input[type="text"] {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
}

h3 {
  padding: 10px 10px 0 10px;
  margin: 40px 40px 40px 40px;
  font-family: arial;
  font-size: 20px;
  font-style: normal;
  color: #ff007f;
}

.advDiv {
  margin: auto;
  width: 30%;
  text-align: center;
}

.advSrchButton {
  border: 1px solid #3079ed;
  color: #fff;
  background-color: skyBlue;
  border: 1px solid black;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}

.dividerz1 {
  border-bottom: 1px solid #ebebeb;
}

.topnav-right {
  float: right;
}

.topnav {
  overflow: hidden;
  font-family: Roboto,arial,sans-serif;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.grid-container-openg_page {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 3fr;
  grid-gap: 20px;
  padding: 40px;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.grid-container-advanced2 {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 5px;
  justify-content: space-between;
  margin-left: 40px;
  width: 90%;
  /* background: #e0f6ff; */
}

.grid-container-images {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 5px;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  /* background: #0ef6ff; */
}

.grid-item {
  height: 40px;
  padding: 5px 5px 5px 5px;
  margin: 8px 5px 8px 5px;
  align-items: center;
}

.grid-itemL {
  text-align: left;
}

.grid-itemR {
  text-align: left;
}

.grid-itemC {
  text-align: center;
}

.smallText {
  font-size: 10px;
}

.leftText {
  font-size: 12px;
}
