* {
  /* Reset browser's padding and margin */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: row;
}

.body {
    font-family: Roboto,arial,sans-serif;
}

.div {
    display: block;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.dividerz1 {
    border-bottom: 1px solid #ebebeb;
}
.Mza7yc {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}
.otByu {
    width: 100%;
    clear: both;
}
.otByu .yIQOUb {
    clear: both;
}
.otByu .I1Kbt, .lFApYd {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}
.otByu .HoCfzc {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.otByu .orcpGe {
    float: left;
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}
.lOTAE {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.otByu .FAcADc {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
.Qy8Xkb {
    margin: 18px 0;
    clear: both;
    border-top: 1px solid #ebebeb;
}
.otByu .cwqNnb {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}
.otByu .jYcx0e {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.PLLUQc {
    padding-right: 16px;
}
.jfk-textinput {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.input {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.input[type="text" i] {
    padding: 1px 2px;
}

.input[type="submit"] {
  min-width: 120px;
  height: 30px
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 13px;
  background-repeat: no-repeat;
  padding: 1px 8px;
}

.input[type="search"] {
  min-width: 240px;
  height: 44px
  border: 1px solid #ccc;
  border-radius: 44px;
  font-size: 16px;
  background-image: url('search2.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.topnav {
  overflow: hidden;
  font-family: Roboto,arial,sans-serif;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: blue;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}
