.container {
  display: flex;
}

.topnav {
  display: block;
  overflow: hidden;
  font-family: "Roboto",arial,sans-serif;
}

.topnav-right {
  float: right;
  justify-content: space-between;
}

.topnav-left {
  float: left;
  justify-content: space-between;
}
