.center {
display: block;
margin-right: auto;
margin-left: auto;
padding: 10px;
}

form {
  display: grid;
  flex-direction: row;
}

body {
  font-family: Roboto,arial,sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 292px;
  height: 92px;
}
/*
div {
  display: block;
} */

.appbar {
  color: #d93036;
  font-size: 20px;
  margin: 25px 35px;
}

.dividerz1 {
  border-bottom: 1px solid #ebebeb;
}

.zindex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.z001 {
  width: 100%;
  clear: both;
}
.z001 .z002 {
  clear: both;
}
.z003, .z004 {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
  vertical-align: middle;
}
.z005 {
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}
.z001 .z006 {
  float: left;
  display: inline-block;
  width: 33%;
  font-size: 13px;
  font-weight: 700;
  color: #777;
  padding-left: 5px;
  vertical-align: middle;
}
.z007 {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.z001 .z008 {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}
.z009 {
  margin: 18px 0;
  clear: both;
  border-top: 1px solid #ebebeb;
}
.z001 .z010 {
  float: left;
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}
.z001 .z011 {
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}

.z012 {
padding-right: 16px;
}

.mybutton {
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-right: 16px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}

input[type="text" i] {
  padding: 1px 2px;
}

input[type="search"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  /* user-select: none; */
}

input {
  min-width: 240px;
  height: 44px
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
}

.topnav {
  overflow: hidden;
  font-family: Roboto,arial,sans-serif;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: blue;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
